#textdomain wesnoth-THoB
[scenario]
  id=dwarven_city
  
  name=Dwarven City
  map_data="{@campaigns/The_History_of_Burin/maps/City.map}"
  next_scenario=to_the_eagle_pass
  turns=-1
  
  {SCENARIO_MUSIC knolls.ogg}
  {UNDERGROUND}
  
  [story]
    [part]
      story=_ "Burin entered the dwarven city leaving Kharg in charge."
    [/part]
  [/story]
  
  [side]
    side=1
    controller=human
    team_name=dwarves
    user_team_name=Dwarves
    
    type=Dwarvish Fighter
    description=Burin
    user_description=_ "Burin the Lost"
    canrecruit=yes
    recruit=Dwarvish Fighter
  [/side]
  
  [side]
    side=2
    controller=ai
    team_name=dwarves
    
    type=Dwarvish Lord
    description=Kerend
    user_description=_ "Kerend"
    canrecruit=yes
    recruit=Dwarvish Fighter,Dwarvish Guardsman
  [/side]
  
  [side]
    side=3
    controller=ai
    team_name=dwarves
    
    type=Dwarvish Runemaster
    description=Gerel
    user_description=_ "Gerel"
    canrecruit=yes
    recruit=Dwarvish Fighter,Dwarvish Guardsman
  [/side]
  
  [event]
    name=prestart
    
    [store_unit]
      [filter]
        description=Burin
      [/filter]
      variable=burin
      kill=yes
    [/store_unit]
  [/event]
  
  [event]
    name=start
    [move_unit_fake]
      type=$burin.type
      x=01,02,03,04,05,06,07,08,09,10,11,11,11,11,11,11,11
      y=03,03,04,03,04,03,04,03,04,03,04,05,06,07,08,09,10
    [/move_unit_fake]
    [unstore_unit]
      variable=burin
    [/unstore_unit]
    {CLEAR_VARIABLE burin}
    [message]
      speaker=Kerend
      message=_ "Burin. You shouldn't come back so early!"
    [/message]
    [message]
      speaker=Burin
      message=_ "The north gate is under attack. I come when the situation has been stabilised"
    [/message]
    [message]
      speaker=Kerend
      message=_ "Under attack? By whom? Probably those dirty orks..."
    [/message]
    [message]
      speaker=Gerel
      message=_ "Orks? How could they get through the Eagle Pass?"
    [/message]
    [message]
      speaker=Burin
      message=_ "No - they are strange creatures. Some are only build from bones. Some seems to not be material."
    [/message]
    [message]
      speaker=Gerel
      message=_ "They might be liches armies. I thought that they have travelled east over 400 years ago."
    [/message]
    [move_unit_fake]
      type=Dwarvish Stalwart
      x=02,02,02,02,03,04,05,06,07,08
      y=20,19,18,17,17,16,16,15,15,14
    [/move_unit_fake]
    {LOYAL_UNIT 1 (Dwarvish Stalwart)  8 14 (Wodgert) (_"Wodgert")}
    [+unit]
      {IS_HERO}
    [/unit]
    [message]
      speaker=Wodgert
      message=_ "The Eagle Pass is attacked by orks!"
    [/message]
    [message]
      speaker=Kerend
      message=_ "Orks? Why you inform us? With a single tribe you should have no problem. I really don't know if I should have promoted you!"
    [/message]
    [message]
      speaker=Wodgert
      message=_ "They are not a single tribe. They are... united."
    [/message]
    [message]
      speaker=Gerel
      message=_ "United - how it could happend?"
    [/message]
    [message]
      speaker=Burin
      message=_ "There is no time to speak - I'll go to help."
    [/message]
    [endlevel]
      result=continue
    [/endlevel]
  [/event]
[/scenario]
