#textdomain wesnoth-THoB
[scenario]
  id=reverting_done
  
  name=Dwarven City
  map_data="{@campaigns/The_History_of_Burin/maps/City.map}"
  turns=1
  
  music=underground.ogg
  {UNDERGROUND}
  
  [story]
    [part]
      story=_ "Having heard the talk Buring returned to the "
    [/part]
  [/story]
  
  [side]
    side=1
    controller=human
    team_name=dwarves
    user_team_name=Dwarves
    
    type=Dwarvish Fighter
    description=Burin
    user_description=_ "Burin the Lost"
    canrecruit=yes
    recruit=Dwarvish Fighter
  [/side]
  
  [side]
    side=2
    controller=ai
    team_name=dwarves
    
    type=Dwarvish Lord
    description=Kerend
    user_description=_ "Kerend"
    canrecruit=yes
    recruit=Dwarvish Fighter,Dwarvish Ulfserker
    
    [unit]
      type=Dwarvish Stalwart
      x,y=02,16
      generate_description=yes
    [/unit]
    
    [unit]
      type=Dwarvish Stalwart
      x,y=03,18
      generate_description=yes
    [/unit]
    
    [unit]
      type=Dwarvish Stalwart
      x,y=10,04
      generate_description=yes
    [/unit]
    
    [unit]
      type=Dwarvish Stalwart
      x,y=12,04
      generate_description=yes
    [/unit]
  [/side]
  
  [side]
    side=3
    controller=ai
    team_name=dwarves
    
    type=Dwarvish Runemaster
    description=Gerel
    user_description=_ "Gerel"
    canrecruit=yes
    recruit=Dwarvish Fighter,Dwarvish Ulfserker
  [/side]
  
  [event]
    name=start
    [store_unit]
      [filter]
        description=Burin
      [/filter]
      variable=burin
      kill=yes
    [/store_unit]
    [set_variable]
      name=wodgert.x
      value=07
    [/set_variable]
    [set_variable]
      name=wodgert.y
      value=14
    [/set_variable]
    [unstore_unit]
      variable=wodgert
    [/unstore_unit]
    [set_variable]
      name=burin.x
      value=08
    [/set_variable]
    [set_variable]
      name=burin.y
      value=14
    [/set_variable]
    [move_unit_fake]
      type=burin.type
      x=02,02,02,02,03,04,05,06,07
      y=20,19,18,17,17,16,16,15,15
    [/move_unit_fake]
    [unstore_unit]
      variable=burin
    [unstore_unit]
  [/event]
[/scenario]
