#textdomain wesnoth-THoB
[scenario]
  id=reverting_done
  
  name=Dwarven City
  map_data="{@campaigns/The_History_of_Burin/maps/City.map}"
  turns=1
  
  music=underground.ogg
  {UNDERGROUND}
  
  [story]
    [part]
      story=_ "Having heard the talk Buring returned to the "
    [/part]
  [/story]
  
  [side]
    side=1
    controller=human
    team_name=dwarves
    user_team_name=Dwarves
    
    type=Dwarvish Fighter
    description=Burin
    user_description=_ "Burin the Lost"
    canrecruit=yes
    recruit=Dwarvish Fighter
  [/side]
  
  [side]
    side=2
    controller=ai
    team_name=dwarves
    
    type=Dwarvish Lord
    description=Kerend
    user_description=_ "Kerend"
    canrecruit=yes
    recruit=Dwarvish Fighter,Dwarvish Ulfserker
    
    [unit]
      type=Dwarvish Stalwart
      x,y=02,16
      generate_description=yes
    [/unit]
    
    [unit]
      type=Dwarvish Stalwart
      x,y=03,18
      generate_description=yes
    [/unit]
    
    [unit]
      type=Dwarvish Stalwart
      x,y=10,04
      generate_description=yes
    [/unit]
    
    [unit]
      type=Dwarvish Stalwart
      x,y=12,04
      generate_description=yes
    [/unit]
  [/side]
  
  [side]
    side=3
    controller=ai
    team_name=dwarves
    
    type=Dwarvish Runemaster
    description=Gerel
    user_description=_ "Gerel"
    canrecruit=yes
    recruit=Dwarvish Fighter,Dwarvish Ulfserker
  [/side]
  
  [event]
    name=start
    [store_unit]
      [filter]
        description=Burin
      [/filter]
      variable=burin
      kill=yes
    [/store_unit]
    [set_variable]
      name=wodgert.x
      value=07
    [/set_variable]
    [set_variable]
      name=wodgert.y
      value=14
    [/set_variable]
    [unstore_unit]
      variable=wodgert
    [/unstore_unit]
    [set_variable]
      name=burin.x
      value=08
    [/set_variable]
    [set_variable]
      name=burin.y
      value=14
    [/set_variable]
    [move_unit_fake]
      type=burin.type
      x=02,02,02,02,03,04,05,06,07
      y=20,19,18,17,17,16,16,15,15
    [/move_unit_fake]
    [unstore_unit]
      variable=burin
    [unstore_unit]
    [message]
      description=Kerend
      message=_ "What are you doing here? We were just to join you!"
    [/message]
    [message]
      description=Wodgert
      message=_ "There was too many of them. And some strange creatures attacked from the north!"
    [/message]
    [message]
      description=Burin
      nessage=_ "Exactly the same as those who attacked gate."
    [/message]
    [message]
      description=Wodgert
      message=_ "We blown up the passage so it bought us some time..."
    [/message]
    [message]
      description=Burin
      message=_ "Not exactly - they build a bridge - by magic."
    [/message]
    [message]
      description=Gerel
      message=_ "It could be suspected..."
    [/message]
    [message]
      description=Kerend
      message=_ "But what will they do?"
    [/message]
    [message]
      description=Gerel
      message=_ "They will go to east caves."
    [/message]
    [message]
      description=Wodgert
      message=_ "How do you know?"
    [/message]
    [message]
      description=Gerel
      message=_ "I cannot say - the rules..."
    [/message]
    [message]
      description=Kerend
      message=_ "Well. Go after them and close the entrance"
    [/message]
    [message]
      description=Gerel
      message=_ "No. We must sneak before them and close the entrance. Otherwise we will be doomed."
    [/message]
    [message]
      description=Burin
      message=_ "How?"
    [/message]
    [message]
      description=Gerel
      message=_ "I cannot say. The r..."
    [/message]
    [message]
      description=Kerend
      message=_ "Rules, rules, rules. If you don't want to say - it is your choice. However I am the king. Go and close the entrance when all of them enter the cave."
    [/message]
    [message]
      description=Gerel
      message=_ "But..."
    [/message]
    [message]
      description=Kerend
      message=_ "Eighter you will tell what you know or we will just close the caves. Especially that no dwarf has returned after he entered the caves."
    [/message]
    [message]
      description=Burin
      message=_ "But how we are suppose to reach there?"
    [/message]
    [message]
      description=Wodgert
      message=_ "We can go thou the Stone Valley. However it is likely to be occupied by enemy. Maybe the elves from the Green Forest will allow us to pass. We can also choose to travel through the Yered Caves"
    [/message]
    [message]
      description=Burin
      message=_ "Hmmm..."
      
      [option]
        message= _ "The Stone Valley seems to be the quickiest way..."
        [command]
          [set_variable]
            name=path
            value=stone_valley
          [/set_variable]
        [/command]
      [/option]
      [option]
        message= _ "May elves will show some hospitality..."
        [command]
          [set_variable]
            name=path
            value=green_forest
          [/set_variable]
        [/command]
      [/option]
      [option]
        message= _ "The Yered Caves will be the way..."
        [command]
          [set_variable]
            name=path
            value=yered_caves
          [/set_variable]
        [/command]
      [/option]
    [/message]
    [move_unit_fake]
      type=kharg.type
      x=01,02,03,04,05,06,07,08,09,10,11,11,11,11,11,11,11
      y=03,03,04,03,04,03,04,03,04,03,04,05,06,07,08,09,10
    [/move_unit_fake]
    [set_variable]
      name=kharg.x
      value=11
    [/set_variable]
    [set_variable]
      name=kharg.y
      value=10
    [/set_variable]
    [unstore_unit]
      variable=kharg
    [/unstore_unit]
    [message]
      description=Kharg
      message=_ "The enymies withdrown"
    [/message]
    [message]
      description=Kerend
      message=_ "We know it. Join Burin in his mission"
    [/message]
    [endlevel]
      result=continue
      next_scenario=$path
    [/endlevel]
  [/event]
[/scenario]
